<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css" media="screen">
  </head>
  <body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a href="/" class="navbar-brand">EZ-Flight CheckIn Application</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
     </div>
   </div>
   <div class="container">
     <div class="jumbotron">
      <h1 class="display-4">EZ Flight Reservation and CheckIn App</h1>
      <p class="lead">Please click the start button to begin checking into your flight.</p>
      <hr class="my-4">
      <p>Please have your reservation number handy.</p>
      <button routerLink="/startCheckIn" class="btn btn-primary">Start</button>
      <router-outlet></router-outlet>
     </div>
   </div>



  </body>
</html>
